<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MEMBER PAGE</title>
  </head>
  <body>
  <center>
    <h2>MEMBER LIST</h2>
    <br>
    <br>
    <p>Name</p>
    <input type="text" name="name" value="">
    <br>
    <p>KTP</p>
    <input type="text" name="ktp" value="">
    <br>
    <p>Address</p>
    <input type="text" name="address" value="">
    <br>
    <p>Telepon Number</p>
    <input type="tel" name="telp" value="">
    <br>
    <p>Plan</p>
    <input type="text" name="plan" value="">
    <br>
  </center>
  </body>
</html>
